
        .holder {
            display: grid;
            grid-template-columns: 95px 95px; 
            grid-template-rows: 100px 100px; 
            gap: 10px; 
            width: 200px; 
        }

       
        .item {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
            font-weight: bold;
        }

    
        .item-1 { background-color: teal; }
        .item-2 { background-color: thistle; }
        .item-3 { background-color: tomato; }
        .item-4 { background-color: turquoise; }
   